/*
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*/

/*
reset all elements
*/ 
* {
  margin: 0;
  padding: 0;
}

/* Embedded fonts / Dependant on Browser */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-LightItalic.ttf);
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

/* General formatting all links */
a {
  font-family: 'Josefin_Sans';
  color: #888888;
  padding: 10px 30px;
  text-decoration: none;
}
a:hover {
  color: #000000;
}

/* Header Formatting */
header{
	background-color: white;
	font-family: "Josefin_Sans";
	font-style: italic;
	letter-spacing: 2px;
	text-align: center;
	
	/* spacing between header and main */
	padding-bottom: 10px;
	padding-bottom: 40px;

	/* spacing between edge of browser */
  margin-top: 20px;
	margin-left: 50px; 
	margin-right:50px;
}

#logo {
	padding-left: 20px;
	float: left;
}

/* Navigation Formatting */
nav{
  text-align: right;
}

nav ul li{
	display: inline-block;
}


/* Bodying Formatting / whole page */
.mission {
  background-color: #181717;
  /*background-image: none;*/
  border-top: 10px solid #ef8f4f;
  color: white;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.mission h2{
  margin: auto auto 0px;
  color: #bfe7f3;
  max-width: 500px;
  padding: 5px 80px;
}

.mission p{
  margin: 0px auto auto;
  max-width: 500px;
  padding: 5px 80px;
}

.history {
  background-color: #181717;
  border-top: 10px solid #d9dc9a;
  color: white;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.history h2{
  color:#f0fe97;
  max-width: 500px;
  margin: auto auto 0px;
  padding: 5px 80px;
}

.history p{
  text-align: left;
  max-width: 500px;
  margin: 0px auto auto;
  padding: 5px 80px;
}

.kickoff {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 40px auto 20px;
}

.kickoff h2{
  color: #ed7d31;
  padding: 5px 80px;
}

.kickoff p{
  text-align: left;
  padding: 5px 80px;
}

.kickoff ul{
  text-align: left;
  padding: 10px 120px;
}

/* Podcast Formatting */
.podcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto 40px;
  padding: 0px 40px;
}

/* Footer Formatting / bottom of every page */
footer {
  border-top: 10px solid #ef8f4f;
  margin-top: 50px;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  font-family: 'Montserrat';
  color: #888888;
}

.copyright {
  font-size: 12px;
}

.footer-nav {
  padding: 10px;
  font-family: 'Josefin Sans';
  text-align: center;
}