/* Bodying Formatting / whole page */
.headM{
	background-color: #181717;
	border-top: 10px solid #ef8f4f;
	border-bottom: 10px solid #d9dc9a;
	color: #bfe7f3;
	font-size: 35px;
	text-align: center;
	min-height: 240px;
	display: flex;
	flex-direction: column;
}
.headM h2{
	margin: auto;
	padding: 5px 80px;
}

/* Main Formatting / Content Area */
.container {
	text-align: center;
	color: white;
	min-height: 400px;
	max-width: 500px;
	padding: 60px 80px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* button formatting */
.links{
	background-color: #2c363f;
	color: white;
	font-size: 15px; 
	text-align: center;
	cursor: pointer;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 10px;
	border-style: double;
	transition: 0.4s;
	padding: 18px;
}

.links:hover {
	background-color: gray;
}

.formatL {
	padding: 18px auto;
	width: 100%;
	align-items: center;
}

