/*
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*/

/*
reset all elements
*/ 
* {
  margin: 0;
  padding: 0;
}

/* Embedded fonts / Dependant on Browser */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-LightItalic.ttf);
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

/* General formatting all links */
a {
  font-family: 'Josefin_Sans';
  color: #888888;
  padding: 10px 30px;
  text-decoration: none;
}
a:hover {
  color: #000000;
}

/* Header Formatting */
header{
	background-color: white;
	font-family: "Josefin_Sans";
	font-style: italic;
	letter-spacing: 2px;
	text-align: center;
	
	/* spacing between header and main */
	padding-bottom: 10px;
	padding-bottom: 40px;

	/* spacing between edge of browser */
  margin-top: 20px;
	margin-left: 50px; 
	margin-right:50px;
}

#logo {
	padding-left: 20px;
	float: left;
}

/* Navigation Formatting */
nav{
  text-align: right;
}

nav ul li{
	display: inline-block;
}


/* Bodying Formatting / whole page */

/* main Formatting / Content Area */
.container{
  background-color: #181717;
  text-align: center;
  border-top: 10px solid #ef8f4f;
  color: white;
  height: 400px;
  padding: 0px 200px 0px 200px;
}

/*.faqc{
  background-color: #181717;
  text-align: center;
  border-top: 10px solid #ef8f4f;
  color: white;
  height: 400px;
  padding: 0px 200px 0px 200px;
}*/

/*/* button formatting */
.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px; 
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: gray;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* Footer Formatting / bottom of every page */
footer {
  margin-top: 50px;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  font-family: 'Montserrat';
  color: #888888;
}

.copyright {
  font-size: 12px;
}

.footer-nav {
  padding: 10px;
  font-family: 'Josefin Sans';
  text-align: center;
}