/* Bodying Formatting / whole page */

/* main Formatting / Content Area */
.impact{
  border-bottom: 10px solid #d9dc9a;
  background-color: #181717;
  text-align: center;
  border-top: 10px solid #ef8f4f;
  color: white;
  min-height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.impact h2{
  margin: auto auto 0px;
  color: #bfe7f3;
  max-width: 500px;
  padding: 5px 80px;
}

.impact p{
  margin: 0px auto auto;
  max-width: 500px;
  padding: 5px 80px;
}

/* Format Container so Local and international can be side by side */
.impactContainer{
  display: flex;
  max-width: 800px;
  margin: 40px auto 20px;
  padding: 0px 60px;
  justify-content: space-between;
}

.local {
  padding: 20px 20px;
  width: 40%;
}

.local h2{
  color: #ed7d31;
  text-align: center;
  padding-bottom: 10px;
}

.intern {
  padding: 20px 20px;
  width: 40%;
}

.intern h2{
  color: #ed7d31;
  text-align: center;
  padding-bottom: 10px;
}

/* Action Area */
.action {
  text-align: center;
  color: #ed7d31;
  border-bottom: 10px solid #ef8f4f;
}

.action h2{
  padding-bottom: 20px;
}

iframe{
  padding-bottom: 40px;
}
