/* Bodying Formatting / whole page */

/* main Formatting / Content Area */
main{
  border-top: 10px solid #ef8f4f;
  background-color: #181717;
} 

/* Image Gallery - Slideshow */

/* Slideshow Container */
.slideshow-container{
  width: 1000px;
  position: relative;
}

.image {
  box-sizing: border-box;
  display: none;
  vertical-align: left;
  position: left;
}

/* Side Text */
.sideText {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  width: 300px;
  text-align: right;

  /* Position where the text will be *Note have to do this for every changed position of text by changing class name fucking kill me */
  left: 650px;
  bottom: 120px;

  /* Transparent backgroound color in the god damn text block */
  background-color: rgba(237,255,134,0.25);
}

/* dot indicator */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2c363f;
  border: 1px solid white;
  border-radius: 80%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

#dotsFormat {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2c363f;
}

.active, .dot:hover {
  background-color: #b4e8f5;
}

/* Fading animation */
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1}
}
