* {
  margin: 0;
  padding: 0;
}

/* Embedded fonts / Dependant on Browser */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-LightItalic.ttf);
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}


/* Default formatting for all links */
a {
  font-family: 'Josefin_Sans';
  color: #888888;
  padding: 10px 30px;
  text-decoration: none;
}
a:hover {
  color: #000000;
}


/* Header formatting / top of every page */
header {
  background-color: white;
  font-family: "Josefin_Sans";
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px;
}

header a {
  padding: 0px;
}
#logo {
  color: #888888;
  padding-right: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding: 0px 5px;
}
.nav-links li:last-child{
  padding-right: 0px;
}
.nav-links li a {
  padding: 0px 10px;
}
.nav-links li a:hover {
  color: #000000;
}

/* Toggle button */
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: #000000;
  border-radius: 10px;
}


/* MOBILE SCREEN */
@media (max-width: 900px) {
  .toggle-button {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: .5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }
}


/* Footer Formatting / bottom of every page */
footer {
  border-top: 10px solid #ef8f4f;
  margin-top: 50px;
  margin: auto;
  padding: 10px 0px 20px 0px;
  text-align: center;
  font-family: 'Montserrat';
}

.footer-nav {
  font-family: 'Josefin Sans';
  color: #888888;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.footer-nav a {
  padding: 10px 30px;
  text-decoration: none;
}
.footer-nav a:hover {
  color: #000000;
}

.copyright {
  font-size: 12px;
}

