@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

/** clear any existing formatting first **/
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Embedded fonts */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-LightItalic.ttf);
}
@font-face {
  font-family: 'Josefin Sans';
  font-weight: normal;
  src: url(../fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/** Header and Heading formats **/
header {
  background-color: #fcfcfc;
  /*margin: 20px 40px;*/
  font-family: 'Josefin Sans';
  font-style: italic;
  letter-spacing: 2px;

}
h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 40px;

  font-size: 60px;
  letter-spacing: 5px;
}
h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
}
h4 {
  font-weight: normal;
  padding-bottom: 10px;
  padding-left: 40px;
}



body {
  padding: 0px;
  font-family: 'Hind', sans-serif;
  background: #FFFFFF;
  /**
  color: #4d5974;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  **/
}


.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}


/* Navigation bar formatting */
nav {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}
nav a {
  font-family: 'Josefin Sans';
  display: black;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
nav a:hover {
  color: #ffffff;
  background-color: #111;
}

nav .active {
  padding: 10px 0px;
  background-color: purple;
}

x